

body{
    background-color: #10100f;
}

/*#3c3985
 #4078a8
*/

.logo {
    padding-top: 60px;
    padding-left: 100px;
}


.textarea {
    background-color: #10100f;
    color: whitesmoke;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 10;
    font-size: 36px;
    width: 720px;
    height: 640px;
    margin-bottom: 1px;
    margin-left: 280px;
    transition: all 0.2s;
    resize: none;
}


.botoes {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 320px;
   
}

/* botão de criptografia*/
.btn-cr {    
    font-family: 'mega';   
    width: 328px;
    height: 67px;
    border: none;
    color: whitesmoke;
    background-color: #3c3985;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #4078a8;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btn-cr:hover {
    box-shadow: inset 328px 0 0 0 #4078a8 ;
}

/* botão de descriptografia */

.btn-de { 
    width: 328px;
    height: 67px;
    margin-left: 24px;
    border: none;
    color: whitesmoke;
    background-color: #10100f;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    border: 3px solid #4078a8;
    z-index: 1;
}

.btn-de:hover {
  
    
    box-shadow: inset 328px 0 0 0 #4078a8 ;

}


.btn-de:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}



