/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #10100f;
}

/*#3c3985
 #4078a8

 "https://www.flaticon.com/free-icons/security" title="security icons">Security icons created by Freepik - Flaticon
*/



@font-face {
    font-family: 'press';
    src: url(/src/font/PressStart2P-Regular.ttf);
}

.resultadoTela {
    display: none;
}


.logo {
    padding-top: 60px;
    padding-left: 100px;
}

.texto-input {   
   display: flex;
  
}
.textoarea {
    
    background-color: #10100f;
    color: whitesmoke;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 10;
    font-size: 36px;
    width: 720px;
    height: 640px;
    margin-bottom: 1px;
    margin-left: 280px;
    transition: all 0.2s;
    resize: none;
    
   
  
}

.resultado {
    top: 50px;
    background-color:#070707;
    width: 480px;
    height: 900px;   
    margin-left: 1200px; 
    position: absolute ;
    border-radius: 12px;
    

}

.img-notexto {    
   margin-top: 240px;
   margin-left: 116px;
}

div h2 {
    color: aliceblue;
    margin-top: 30px;
    text-align: center;
    font-family: 'press', cursive;
    font-size: 24px;
    
    

}

.resultado p {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}

.botoes {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 320px;
    display: flex;
   
}

/* botão de criptografia*/
.btn-cr {    
    font-family: 'mega';   
    width: 328px;
    height: 67px;
    border: none;
    color: whitesmoke;
    background-color: #4078a8;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #3c3985;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btn-cr:hover {
    box-shadow: inset 328px 0 0 0 #3c3985 ;
}

/* botão de descriptografia */

.btn-de { 
    width: 328px;
    height: 67px;
    margin-left: 24px;
    border: none;
    color: whitesmoke;
    background-color: #10100f;
    border-radius: 25px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    border: 3px solid #4078a8;
    z-index: 1;
}

.btn-de:hover {
  
    border: 3px solid #3c3985;
    box-shadow: inset 328px 0 0 0 #3c3985 ;

}


.btn-de:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}



