
body{
    background-color: #10100f;
}

/*#3c3985
 #4078a8

 "https://www.flaticon.com/free-icons/security" title="security icons">Security icons created by Freepik - Flaticon
*/



@font-face {
    font-family: 'press';
    src: url(/criptografia-pyzz/font/PressStart2P-Regular.ttf);
}

.resultadoTela {
    display: none;
}


.logo {
    padding-top: 60px;
    padding-left: 100px;
}

.texto-input {   
   display: flex;
  
}
.textoarea {
    
    background-color: #10100f;
    color: whitesmoke;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 10;
    font-size: 36px;
    width: 720px;
    height: 640px;
    margin-bottom: 1px;
    margin-left: 280px;
    transition: all 0.2s;
    resize: none;
    
   
  
}

.resultado {
    top: 50px;
    background-color:#070707;
    width: 480px;
    height: 900px;   
    margin-left: 1200px; 
    position: absolute ;
    border-radius: 12px;
    word-break: break-word;
    
    
}

#result {
    display:none ;    
    width: 400px;
    height: 700px;
    margin: 30px;
    text-align: center;
    font-size: 36px;
    color: antiquewhite;
    background-color: #070707;
    border: none;
    resize: none;
    outline: none;
    

}

.img-notexto {    
   margin-top: 240px;
   margin-left: 116px;
}

div h2 {
    color: aliceblue;
    margin-top: 30px;
    text-align: center;
    font-family: 'press', cursive;
    font-size: 24px;
    padding: 20px;
   
}





#copy {
    display: none;    
    margin-left: 75px ;
    width: 328px;
    height: 67px;
    border: none;
    color: whitesmoke;
    background-color: #4078a8;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #3c3985;   
}



#copy:hover {
    background-color: #3c3985;
    cursor: pointer;
}

.info {
    margin-left: 350px;
    display: inline;
    color: grey;
}

.info img {
    
    width: 12px;
    display: inline;
    color: gray;
}

.botoes {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 320px;
    display: flex;   
    
}

/* botão de criptografia*/
.btn-cr {    
    font-family: 'mega';   
    width: 328px;
    height: 67px;
    border: none;
    color: whitesmoke;
    background-color: #4078a8;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #3c3985;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    font-family: 'press', cursive;
}

.btn-cr:hover {
    box-shadow: inset 328px 0 0 0 #3c3985 ;
}

/* botão de descriptografia */

.btn-de { 
    width: 328px;
    height: 67px;
    margin-left: 24px;
    border: none;
    color: whitesmoke;
    background-color: #10100f;
    border-radius: 25px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    border: 3px solid #4078a8;
    z-index: 1;
    font-family: 'press', cursive;
}

.btn-de:hover {
  
    border: 3px solid #3c3985;
    box-shadow: inset 328px 0 0 0 #3c3985 ;

}


.btn-de:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.rodape {
    width: 100%;
    height: 30px;    
    text-align: center;
    color: grey;
}

.rodape a {
    text-decoration: none;
    color: #4078a8;
    font-family:'press', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

a:hover {
    color: #3c3985;
}






